<appSettings>
    <add key="EnableCache" value="true"/>
    <add key="CacheDurationSeconds" value="300"/>
    <add key="IsDebug" value="false"/>
    <add key="HasCacheMenu" value="false"/>
    <add key="QueryStringEncryptKey" value="xu/6j;3dkru4"/>
    <add key="QueryStringEncryptSalt" value="T00"/>
    <add key="HomeUrlValidPeriodMinute" value="1440"/>
    <add key="SystemFunctionIndex" value="3" />
    <add key="ModuleCateID" value="3" />
    <add key="OrgCateID" value="3" />
    <add key="RoleCateID" value="3" />
</appSettings>