<connectionStrings>
  <add name="ConnLog" connectionString="Data Source=10.10.5.212;Initial Catalog=NIIS_Log;Persist Security Info=True;User ID=hygip;Password=hyweb" providerName="System.Data.SqlClient"/>
  <add name="ConnUser" connectionString="Data Source=10.10.5.212;Initial Catalog=NIIS_User;Persist Security Info=True;User ID=hygip;Password=hyweb" providerName="System.Data.SqlClient"/>
  <add name="ConnDB" connectionString="Data Source=10.10.5.212;Initial Catalog=NIIS_DB;Persist Security Info=True;User ID=hygip;Password=hyweb" providerName="System.Data.SqlClient"/>
  <add name="ConnReport" connectionString="Data Source=10.10.5.212;Initial Catalog=NIIS_Report;Persist Security Info=True;User ID=hygip;Password=hyweb" providerName="System.Data.SqlClient"/>
</connectionStrings>