<appSettings>
    <add key="EnableCache" value="true"/>
    <add key="CacheDurationSeconds" value="300"/>
    <add key="IsDebug" value="false"/>
    <add key="HasCacheMenu" value="true"/>
    <add key="QueryStringEncryptKey" value="xu/6j;3dkru4"/>
    <add key="QueryStringEncryptSalt" value="T00"/>
    <add key="HomeUrlValidPeriodMinute" value="1440"/>
    <add key="SystemFunctionIndex" value="1" />
    <add key="SystemPowerCateID" value="1" />
    <add key="ModuleCateID" value="1" />
    <add key="OrgCateID" value="1" />
    <add key="RoleCateID" value="1" />
	  <add key="encryptKey" value="11001100"/><!--發送簡訊設定的加密Key-->
    <add key="decryptKey" value="11001100"/><!--發送簡訊設定的解密Key-->
    <add key="OrgAreaSet" value="1"/><!--設定是否有區管中心 PS.0=>無 1=>有-->
    <add key="FileServerURL" value="http://niis.fs.hyweb.com.tw"/>
    <add key="SiteName" value="全國性預防接種資訊管理系統"/>
    <add key="LoginCSS" value="#btnLogin:hover {background-color: #dd7a77 !important;}"/><!--RIS: #427110-->
</appSettings>