<connectionStrings>
  <add name="ConnLog" connectionString="Data Source=10.10.5.212;Initial Catalog=NIIS_Log;Persist Security Info=False;Integrated Security=False;User ID=hygip;Password=hyweb" providerName="System.Data.SqlClient"/>
  <add name="ConnUser" connectionString="Data Source=10.10.5.212;Initial Catalog=NIIS_User;Persist Security Info=False;Integrated Security=False;User ID=hygip;Password=hyweb" providerName="System.Data.SqlClient"/>
  <add name="ConnDB" connectionString="Data Source=10.10.5.212;Initial Catalog=NIIS_DB;Persist Security Info=False;Integrated Security=False;User ID=hygip;Password=hyweb" providerName="System.Data.SqlClient"/>
  <add name="AO" connectionString="Data Source=NIISAG01-listen;Initial Catalog=AG01;Persist Security Info=False;Integrated Security=False;User ID=nniis;Password=h9!%ghef32g" providerName="System.Data.SqlClient"/>
</connectionStrings>