<?xml version="1.0" encoding="utf-8"?>
<!--
    注意: 除了手動變更此檔案之外，您還可以使用
    Web 管理工具進行應用程式的設定。請使用
    Visual Studio 中的 [網站] ->[Asp.Net 組態] 選項。
    您可以在 machine.config.comments (通常
    位於 \Windows\Microsoft.Net\Framework\vx.x\Config) 中
    找到完整的設定和註解清單 
-->
<configuration>
  <appSettings configSource="AppSettings.Debug.config" />
  <connectionStrings configSource="ConnectionStrings.Debug.config" />
  <system.web>
    <pages viewStateEncryptionMode="Always" enableViewState="true" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <trace enabled="false" pageOutput="true" requestLimit="15" localOnly="true" mostRecent="true" />
    <!-- 
            設定 compilation debug="true" 以將偵錯符號
            插入至編譯的頁面。因為這會
            影響效能，所以請只在開發期間
            才將此值設定為 true。
        -->
    <httpRuntime />
    <compilation debug="true" targetFramework="4.0">
      <codeSubDirectories>
        <add directoryName="VB" />
        <add directoryName="CS" />
      </codeSubDirectories>
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
          <authentication> 區段可讓您設定 
          ASP.NET 用來識別連入使用者的 
          安全性驗證模式。 
        -->
    <authentication mode="Windows" />
    <!--
           <customErrors> 區段可讓您設定
           當執行要求期間發生無法處理
           之錯誤時的處理方式。更明確地說，
           開發人員可以利用它設定要顯示的 
           html 錯誤頁面，以取代錯誤堆疊追蹤。

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <customErrors mode="Off" />
    <!--<httpModules>
      -->
    <!--<remove name="Session" />-->
    <!--
      <remove name="WindowsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <remove name="AnonymousIdentification"/>
      -->
    <!--<remove name="UrlAuthorization" />
      <remove name="FileAuthorization" />-->
    <!--
    </httpModules>-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <sessionState timeout="20" />
  </system.web>
  <system.webServer>
    <!--<handlers>
      <add name="UnityPageHandlerFactory" path="*.aspx" verb="*" type="UnityPageHandlerFactory"/>
    </handlers>-->
    <httpProtocol>
      <customHeaders>
        <remove name="Server" />
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <add value="login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <!-- 
        在 Internet Information Services 7.0 下，需要有 system.webServer 區段才能執行
        ASP.NET AJAX。在舊版 IIS 下則不需要。
    -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://niis_ws.hyweb.com.tw/webservice.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap" contract="NIIS_WS.WebServiceSoap" name="WebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>