@charset "utf-8";
/* CSS Document */
header, footer, nav, aside, section, article, figure, figcaption { display: block; }
body { font-family: "微軟正黑體", Arial, Helvetica, sans-serif; font-size: 0.938em/*15px*/; margin: 0; padding: 0; /*font-family: "標楷體","Times New Roman", Times, serif;*/ }
.bodybg { background-image: url(../images/content_bg.jpg); background-repeat: no-repeat; background-position: right -10px; }
hr { margin: 15px 0px; border: 0; border-top: 1px dotted #ccc; }
.certificate{ width: 850px; border: 1px solid #ccc; margin:0 0 20px }
.certificate h1 { text-align: center; font-size: 1.625em; padding: 0; margin: 10px 0 10px 30px; letter-spacing: 1em; }
.title_english { font-size: 1.5em; text-align: center; font-weight: bold; }
/*------------個人資料*/
.personal_data { margin: 30px 10px 20px; }
.personal_data table { width: 100%; border-collapse:collapse; }
.personal_data table th { padding: 2px 5px; text-align: right }
.personal_data table td { padding: 2px 5px; }
.personal_data table td span { border-bottom: 1px solid #999; width: 100px; display: inline-block }
/*-------------疫苗資料*/
.vaccine_data { margin: 30px 10px 20px; }
.vaccine_data table { width: 100%; margin: 0; padding: 0; border: 1px solid #ccc;border-collapse:collapse; }
.vaccine_data table th { padding: 8px 5px; border: 1px solid #ccc; width:65px }
.vaccine_data table th.th01{ }
.vaccine_data table th span { display: block; }
.vaccine_data table td { padding: 8px 5px; border: 1px solid #ccc; vertical-align:middle; font-size: 0.875em }
.vaccine_data table td span { display: block;font-size: 0.813em  }
.vaccine_data table td.nowrap{ white-space: nowrap; }
/*-------------簽章*/
.signature{ margin:10px 20px;}
.signature ul{ margin:0; padding:0}
.signature ul li{ margin:0 0 20px 0; list-style-type:none;}

/*-*/
.footer{ text-align:right; margin:10px 20px}
.footer span{ display:block}

/*--------------------------------------------------------------------統計表-*/
.statistics{ width:1220px;  margin:0 0 20px }
.statistics h1 { text-align: center; font-size: 1.375em; padding: 0; margin: 10px 0 10px 30px;  }
.info{ text-align:center; line-height:150%; font-size: 1.063em; margin:0 0 40px}
.info2{ line-height:150%; font-size: 1em; margin:0px 10px 5px;font-size: 0.875em; overflow:hidden}
.info2 .date{ float:left}
.info2 .page{ float:right}
/*-------------統計資料*/
.statistics_data, .statistics_data2 { margin: 0px 10px 50px; font-size: 0.813em }
.statistics_data2 {font-size: 0.938em }
.statistics_data table, .statistics_data2 table { width: 100%; margin: 0; padding: 0; border: 1px solid #ccc;border-collapse:collapse; }
.statistics_data table th { padding: 0px 0px; border: 1px solid #ccc; width: 65px; background-color: #E8E8E8; font-weight: normal; }
.statistics_data2 table th { padding: 7px 0px; border: 1px solid #ccc;background-color: #E8E8E8; font-weight: normal; }

.statistics_data table td, .statistics_data2 table td { padding: 8px 5px; border: 1px solid #ccc; vertical-align:middle;  text-align:center}
.statistics_data table td span, .statistics_data2 table td span { display: block;font-size: 0.813em  }
.statistics_data table td.nowrap, .statistics_data2 table td.nowrap{ white-space: nowrap; }

/*-*/
.out{
border-top:80px #E8E8E8 solid;/*上邊框寬度等於表格第一行行高*/
width:0px;/*讓容器寬度為0*/
height:0px;/*讓容器高度為0*/
border-left:80px #CCC solid;/*左邊框寬度等於表格第一行第一格寬度*/
position:relative;/*讓裡面的兩個子容器絕對定位*/
padding:0
}
b{ font-style: normal; display: block; position: absolute; top: -70px; left: -40px; width: 35px; font-weight: normal; }
em{font-style:normal;display:block;position:absolute;top:-25px;left:-70px;width:55x;}

/*---------查核表*/
.gov_units{ margin:20px ; text-align:right}
.checklist{ width: 850px; border: 1px solid #ccc; margin:0 0 20px; overflow:hidden;  }
.checklist h1 { text-align: center; font-size: 1.625em; padding: 0; margin: 10px 0 10px 30px; }
.checklist_data{  margin: 20px 10px 50px}
.checklist_data table { width: 100%; border-collapse: collapse; border: 1px solid #ccc; font-size:0.938em }
.checklist_data table th { padding: 8px 5px;  border:1px solid #ccc; background-color: #E8E8E8;  }
.checklist_data table td { padding: 8px 5px; border:1px solid #ccc  }
.checklist_data table td.aCenter{ text-align:center}
.checklist_data table td span { border-bottom: 1px solid #999; width: 100px; display: inline-block }
/*-*/
.signature2{ margin: 20px 10px; font-size:0.938em}
.signature2 table{width: 100%;}
.signature2 table td{ padding:10px 20px 30px 0}
/*-*/
.checklist .rating{ margin:20px 0 20px 10px; float:left; font-size:0.813em}
.checklist .number{ float:right; font-size:0.813em; margin:20px 20px 20px 0; text-align:right;}