@charset "utf-8";
/* CSS Document */
header, footer, nav, aside, section, article, figure, figcaption { display: block; }
body { font-family: "微軟正黑體", Arial, Helvetica, sans-serif; font-size: 1em;/*16px*/ margin: 0; padding: 0 }
input { font-family: "微軟正黑體", Arial, Helvetica, sans-serif; font-size: 0.938em }
.formBtn { text-align: center; margin: 10px 0 }
.formBtn input { margin: 0 5px 0 0 }
.btn { position: relative; background-color: #5A822F; border: 1px solid #5A822F; color: #fff; padding: 0px 20px; margin: 0; height: 30px; cursor: pointer; vertical-align: middle; text-align: center; }
.btn:hover { background-color: #427110; border: 1px solid #427110; }
.wordred { color: #C00 }
img { vertical-align: middle }
a { color: #fff; text-decoration: underline }
a:hover { color: #900; text-decoration: underline }
.must { color: #FF0000; margin: 0px; font-size: 150%; font-weight: bold; vertical-align: bottom; line-height: 50%; padding: 0 5px 0 0 }
/*---------------------------------------------*/
.wrap { position: relative; background-color: #fff; width: 1000px; margin: 0 auto; padding: 363px 0 0 0; background-image: url(../images/login_bg.jpg); background-position: 0 0; background-repeat: no-repeat; }
.login { width: 936px; margin: 0 auto; overflow: hidden; }
/*--------------------------login_left*/
.login_left { background-image: url(../images/login_bg02.png); background-repeat: repeat; width: 468px; height: 206px; float: left; }
.login_left table { border-collapse: collapse; margin: 50px 10px 20px 50px; }
.login_left table th { padding: 7px; text-align: left; color: #fff; font-weight: normal; vertical-align: top; }
.login_left table td { padding: 7px; color: #fff; vertical-align: top; }
.login_left table td input[type="text"], .login_left table td input[type="password"] { border: 1px solid #fff; padding: 2px 6px 5px; }
.login_left table td input.text01 { width: 200px }
.login_left table td input.text02 { width: 85px }
.login_left table td input.radio01 { width: 15px; height: 15px; }
.login_left table td img { margin: 0 0 0 5px }
/*--------------------------login_right*/
.login_right { background-image: url(../images/login_bg03.png); background-repeat: repeat; width: 468px; height: 206px; float: left }
.login_right div { color: #fff; font-weight: normal; margin: 50px 0 0 30px; }
.login_right div input[type="checkbox"] { vertical-align: middle; margin: 0 5px 0 0 }
.login_right div input.checkbox01 { width: 20px; height: 20px; }
.login_right ul { margin: 20px 0 20px 30px; padding: 0 }
.login_right ul li { list-style-type: none; float: left; margin: 0 15px 15px 0 }
.login_right ul li a { display: block; background-image: url(../images/login_icon02.png); background-position: 130px 12px; border: 1px solid #fff; background-repeat: no-repeat; padding: 6px 60px 6px 30px; width: 105px; font-size: 1.25em; color: #fff; text-decoration: none; }
.login_right ul li a:hover { background-color: #427110; }
/*--------------------------login_block*/
.login_block { background-image: url(../images/login_bg02.png); background-repeat: repeat; width: 936px; padding: 30px }
.login_block .title { margin: 0 0 20px; font-size: 1.25em; }
.login_block .input_box { border: 1px solid #fff; width: 830px; padding: 20px; background-image: url(../images/login_bg04.png); background-repeat: repeat; }
.login_block p { display: block; color: #fff; margin: 0 0 10px 0 }
.login_block p a { color: #fff; text-decoration: underline; }
.login_block .link { background-image: url(../images/icon01.png); background-repeat: no-repeat; background-position: 0 6px; padding: 0 0 0 12px }
.login_block .input_box input[type="text"] { border: 1px solid #fff; padding: 2px 6px 5px; }
.login_block .input_box input.text01 { width: 300px }
.login_block .input_box .btn { padding: 2px 15px 5px; margin: 0 0 0 5px; color: #fff; cursor: pointer; width: 100px }
.login_block span { margin: 0 0 10px 0px }
/*--------------------------formTb*/
.login_block .formTb { border: 1px solid #fff; width: 830px; padding: 10px; background-image: url(../images/login_bg04.png); background-repeat: repeat; }
.login_block .formTb table { border-collapse: collapse; width: 100% }
.login_block .formTb table caption { margin: 0 0 10px 0 }
.login_block .formTb table th { border-bottom: 1px solid #FFF; padding: 8px; text-align: left; width: 100px; white-space: nowrap; color: #fff; vertical-align: top }
.login_block .formTb table td { border-bottom: 1px solid #FFF; padding: 8px; vertical-align: top; color: #fff; }
.login_block .formTb table td input[type="text"] { border: 1px solid #fff; padding: 2px 6px 5px; margin: 0 10px 0 0 }
.login_block .formTb table td input.text01 { width: 250px }
.login_block .formTb table td input.text02 { width: 450px }
.login_block .formTb table td textarea { border: 1px solid #fff; padding: 2px 6px 5px; width: 450px }
/*--------------------------footer*/
footer { background-color: #fcfdfc; color: #666; clear: both; padding: 5px 25px; font-size: 0.813em; overflow: hidden }
footer .logo { float: left; margin: 13px 10px 0 60px }
footer p { float: left; line-height: 150% }
footer .update { float: right; margin: 10px 40px 0 0; text-align: right }
